<?xml version="1.0" ?>
<Params num="5">
    <CamLParams num="2">
        <Shutter>3.000000</Shutter>
        <Gain>0.000000</Gain>
    </CamLParams>
    <CamIndex>FCU20080008</CamIndex>
    <CamWaitTime>5</CamWaitTime>
    <MemoryIndex>/media/nvidia/6864-2245/</MemoryIndex>
    <MemorySize>16</MemorySize>



</Params>
